<template name="Apollos.Profile.BillingAddress">

  {{#Apollos.Forms.Form
    title="Billing Address"
  }}
    {{> Apollos.Forms.Input
      name="Street1"
      type="text"
      placeholder="Address"
      label="Address"
      validate="notEmpty"
      errorText="Please enter your street address"
      preFill=information.get.Street1
    }}
    {{> Apollos.Forms.Input
      name="Street2"
      type="text"
      placeholder="Address2"
      label="Address2"
      preFill=information.get.Street2
    }}
    {{> Apollos.Forms.Input
      name="City"
      type="text"
      placeholder="City"
      label="City"
      validate="notEmpty"
      errorText="Please enter your billing city"
      preFill=information.get.City
    }}
    {{> Apollos.Forms.Dropdown
      name="State"
      items=states
      includeBlank=true
      placeholder="State"
      label="State"
      validate="isState"
      errorText="Please enter a US state"
      preFill=information.get.State
    }}
    {{> Apollos.Forms.Input
      name="PostalCode"
      type="text"
      placeholder="Zip"
      label="Zip"
      validate="isZipCode"
      errorText="Please enter a US zip code"
      preFill=information.get.PostalCode
    }}
  {{/Apollos.Forms.Form}}

</template>
