/* ----------------------------------------------------------------------------
	FONT: Colfax Web Black Italic
---------------------------------------------------------------------------- */
@font-face{
	font-family:'Colfax-Black-Italic';
	src:url('//d2cv5sdpfu57sc.cloudfront.net/fonts/colfax/black-italic.eot');
	src:url('//d2cv5sdpfu57sc.cloudfront.net/fonts/colfax/black-italic.eot?#iefix') format('embedded-opentype'),
		url('//d2cv5sdpfu57sc.cloudfront.net/fonts/colfax/black-italic.woff') format('woff');
	}