/* ----------------------------------------------------------------------------
	FONT: Colfax Web Black
---------------------------------------------------------------------------- */
@font-face{
	font-family:'Colfax-Black';
	src:url('//d2cv5sdpfu57sc.cloudfront.net/fonts/colfax/black.eot');
	src:url('//d2cv5sdpfu57sc.cloudfront.net/fonts/colfax/black.eot?#iefix') format('embedded-opentype'),
		url('//d2cv5sdpfu57sc.cloudfront.net/fonts/colfax/black.woff') format('woff');
	}