/* ----------------------------------------------------------------------------
	FONT: Colfax Web Bold Sub
---------------------------------------------------------------------------- */
@font-face{
	font-family:'Colfax-Bold-Sub';
	src:url('//d2cv5sdpfu57sc.cloudfront.net/fonts/colfax/bold-sub.eot');
	src:url('//d2cv5sdpfu57sc.cloudfront.net/fonts/colfax/bold-sub.eot?#iefix') format('embedded-opentype'),
		url('//d2cv5sdpfu57sc.cloudfront.net/fonts/colfax/bold-sub.woff') format('woff');
	}