/* ----------------------------------------------------------------------------
	FONT: Colfax Web Medium Italic
---------------------------------------------------------------------------- */
@font-face{
	font-family:'Colfax-Medium-Italic';
	src:url('//d2cv5sdpfu57sc.cloudfront.net/fonts/colfax/medium-italic.eot');
	src:url('//d2cv5sdpfu57sc.cloudfront.net/fonts/colfax/medium-italic.eot?#iefix') format('embedded-opentype'),
		url('//d2cv5sdpfu57sc.cloudfront.net/fonts/colfax/medium-italic.woff') format('woff');
	}