/* ----------------------------------------------------------------------------
	FONT: Colfax Web Medium Italic Sub
---------------------------------------------------------------------------- */
@font-face{
	font-family:'Colfax-Medium-Italic-Sub';
	src:url('//d2cv5sdpfu57sc.cloudfront.net/fonts/colfax/medium-italic-sub.eot');
	src:url('//d2cv5sdpfu57sc.cloudfront.net/fonts/colfax/medium-italic-sub.eot?#iefix') format('embedded-opentype'),
		url('//d2cv5sdpfu57sc.cloudfront.net/fonts/colfax/medium-italic-sub.woff') format('woff');
	}