/* ----------------------------------------------------------------------------
	FONT: Colfax Web Regular Italic
---------------------------------------------------------------------------- */
@font-face{
	font-family:'Colfax-Regular-Italic';
	src:url('//d2cv5sdpfu57sc.cloudfront.net/fonts/colfax/regular-italic.eot');
	src:url('//d2cv5sdpfu57sc.cloudfront.net/fonts/colfax/regular-italic.eot?#iefix') format('embedded-opentype'),
		url('//d2cv5sdpfu57sc.cloudfront.net/fonts/colfax/regular-italic.woff') format('woff');
	}