/* ----------------------------------------------------------------------------
	FONT: Colfax Web Thin Sub
---------------------------------------------------------------------------- */
@font-face{
	font-family:'Colfax-Thin-Sub';
	src:url('//d2cv5sdpfu57sc.cloudfront.net/fonts/colfax/thin-sub.eot');
	src:url('//d2cv5sdpfu57sc.cloudfront.net/fonts/colfax/thin-sub.eot?#iefix') format('embedded-opentype'),
		url('//d2cv5sdpfu57sc.cloudfront.net/fonts/colfax/thin-sub.woff') format('woff');
	}