
%hidden {
  visibility: hidden;

  height: 0;
  max-height: 0;
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;

  opacity: 0;
}

%visible {
  visibility: visible;

  height: inherit;
  max-height: inherit;
  margin: inherit;
  padding-top: inherit;
  padding-bottom: inherit;

  opacity: 1;
}


label {
  @extend %hidden;
  @include vendor(transition, all .1s linear);

  display: block;

  padding-left: $half-spacing-unit * .5;

  text-align: left;

  color: map-get($colors, base);

  font-family: "colfax-web";
  font-size: .875em;
  font-weight: 500;
  line-height: 1.125;
}




.input--active {
  label {
    @extend %visible;

    margin-bottom: 0;
    padding-bottom: $half-spacing-unit * .75;
  }
}


input {
  padding: $half-spacing-unit * .5;
}

.input {
  @include vendor(transition, all .1s linear);
}
