:local(.mini-player) {
  position: fixed;
  max-height: 50px;
  opacity: .95;
  z-index: 99;
}

:local(.mini-album-cover) {
  width: 32px;
}

:local(.mini-player-stop) {
  position: fixed;
  height: 50px;
  z-index: 99;
}

:local(.mini-player-stop h6) {
  margin-top: 4px;
}

:local(.mini-player-stop h6 i) {
  font-size: 1.2em;
}

:local(.mini-player-transition) {
  -webkit-transition: left 300ms;
  transition: left 300ms;
}

:local(.mini-player-fade) {
  -webkit-transition: opacity 300ms;
  transition: opacity 300ms;
  opacity: 0;
}
