{
  "presets": [
    "meteor",
    "stage-0",
    "react"
  ],
  "plugins": [
    "ramda",
    "babel-root-slash-import",
    "transform-react-router-optimize",
    "transform-inline-environment-variables",
    "transform-decorators-legacy",
    "react-require",
    "transform-react-remove-prop-types",
    "transform-dead-code-elimination",
    "transform-flow-strip-types"
  ]
}
