{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "parserOptions": {
    "allowImportExportEverywhere": true
  },
  "env": {
    "meteor": true,
    "node": true,
    "browser": true,
    "es6": true
  },
  "globals": {
    "__meteor_runtime_config__": true,
    "NativeStorage": true,
    "ga": true,
    "hockeyapp": true,
    "google": true,
    "serverWatch": true,
    "Raven": true,
    "FastRender": true,
    "RoutePolicy": true,
    "StatusBar": true,
    "OO": true,
    "RemoteCommand": true,
    "fabric": true,
    "Media": true,
    "SyntheticInputEvent": true,
    "React$Element": true
  },
  "rules": {
    "arrow-parens": [2, "always"],
    "quotes": [2, "double"],
    "import/no-unresolved": [2, { "ignore": [
      "^meteor/*", "^/imports/*"
    ] }],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/react-in-jsx-scope": 0,
    "react/no-string-refs": 0,
    "react/forbid-prop-types": 0,
    "class-methods-use-this": 0,
    "jsx-a11y/no-static-element-interactions": 0,
    "react/sort-comp": [1, {
      order: [
        'type-annotations',
        'static-methods',
        'lifecycle',
        'everything-else',
        'render',
      ],
    }],
    "import/no-extraneous-dependencies": [1],
    "no-useless-escape": 0,
  },
  "settings": {
    "import/core-modules": [
      "meteor/meteor",
      "meteor/accounts-base",
      "meteor/mongo"
    ]
  }
}
