{
  "extends": "airbnb",
  "parserOptions": {
    "ecmaVersion": 7,
    "allowImportExportEverywhere": true
  },
  "env": {
    "meteor": true,
    "node": true,
    "browser": true,
    "es6": true
  },
  "rules": {
    "quotes": [2, "double"],
    "import/no-unresolved": [2, { "ignore": [
      "^meteor/*", "^/imports/*"
    ] }],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }]
  },
  "settings": {
    "import/core-modules": [ "meteor/meteor" ]
  }
}
