
<template name="Apollos.Forms.CreditCard">

  <div class="input {{#if error.get}}input--alert{{/if}} {{#if preFill}}input--active{{/if}} {{component.data.class}}">

    {{#unless component.data.hideLabel}}

      <label for="{{name}}">
        {{#if label}}
          {{label}}
        {{else}}
          {{name}}
        {{/if}}
      </label>

    {{/unless}}

    <input
      name="{{name}}"
      type="{{#if type}}{{type}}{{else}}{{name}}{{/if}}"
      placeholder="{{#if placeholder}}{{placeholder}}{{else}}{{label}}{{/if}}"
      class="{{component.data.inputClass}}"
      disabled="{{#if disabled}}disabled{{/if}}"
      id="{{name}}"
    >

    {{#if cardType.get}}
      <div class="push-half-right" style="position: absolute; top: -10px; right: 0px;">
        <style>
        svg {
          width: 30px;
        }
        </style>
        {{> Template.dynamic template=cardType.get data=svg.get}}
      </div>
    {{/if}}

    {{#if status.get}}

      <span class="input__status">
        {{status.get}}
      </span>

    {{/if}}

  </div>


</template>
