
<template name="profile.forgotPassword">

  {{#unless reset.get}}
  <form id="forgot-password">

    <fieldset>
      <legend class="push-half-bottom">
        Reset Password
      </legend>
      <h6 class="push-double-bottom">
        confirm your email to send the reset link
      </h6>

      {{> Apollos.Forms.Input
        name="email"
        placeholder="user@email.com"
        label="Email"
        errorText="Email does not exist"
        preFill=email.get
      }}

    </fieldset>

    <div class="grid push-top">
      <div class="grid__item one-half text-right">
        <a href="{{pathForState 'profile.signIn'}}" data-forgot-password="true" class="fa fa-angle-left icon--base display-inline-block"></a>
      </div>
      <div class="grid__item one-half text-left">
        {{#unless hasErrors.get}}

          <button class="btn one-whole" type="submit">Reset Password</button>

        {{else}}

          <button class="btn--diasbled one-whole" type="submit">Reset Password</button>

        {{/unless}}
      </div>
    </div>


  </form>

  {{else}}
    <div class="constrain-copy push">
      <h3>
        Password Reset
      </h3>
      <p>
        Your password has been reset. An email has been sent to {{email.get}}. If you have any problems, please contact us at
        <a href="mailto:hello@newspring.cc">hello@newspring.cc</a>

      </p>
      <a href="{{pathForState 'profile.signIn'}}" class="fa fa-angle-left icon--base display-inline-block push-double-top"></a>
    </div>
  {{/unless}}

</template>
