<template name="profile.resetPassword">

  <h3 class="push-half-bottom">Reset Password</h3>
  <h6 class="push-double-bottom">
    type your new password
  </h6>

  <form id="reset-password">
    <fieldset>

      {{> Apollos.Forms.Input
        name="password"
        placeholder="password"
        label="Password"
        errorText="Password may not be empty"
      }}

      {{> Apollos.Forms.Input
        name="confirmPassword"
        type="password"
        placeholder="confirm password"
        label="Confirm Password"
        errorText="Password may not be empty"
      }}

    </fieldset>

    {{#unless hasErrors.get}}

      <button class="btn one-whole" type="submit">Change Password</button>

    {{else}}

      <button class="btn--disabled one-whole" type="submit">Change Password</button>

    {{/unless}}

  </form>

</template>
