<template name="profile.signIn">

  <div class="push-double">
    <h4>
      Sign in or create your NewSpring profile
    </h4>
  </div>

  {{> Apollos.Controls.Toggle
    active=hasAccount
    item1="Sign In"
    item2="Register"
  }}

  <form id="{{#if hasAccount.get}}signin{{else}}signup{{/if}}" autocomplete="off" class="lap-and-up-push-sides">
    <fieldset class="flush soft-top">

      {{> Apollos.Forms.Input
        name="email"
        placeholder="user@email.com"
        label="Email"
        validate="isEmail"
        errorText="Please enter a valid email"
        preFill=email.get
      }}

      {{> Apollos.Forms.Input
        name="password"
        placeholder="password"
        label="Password"
        errorText="Password may not be empty"
      }}


      {{#unless hasAccount.get}}

        {{#Apollos.Forms.Checkbox
          name="terms"
          checked="true"
        }}
          By signing up you agree to our <a href="#">terms and conditions</a>
        {{/Apollos.Forms.Checkbox}}

      {{/unless}}

    </fieldset>

    {{#if showForgotPassword.get }}
    <h7 class="push-bottom">
      <small>
      <a href="{{pathForState 'profile.forgotPassword'}}">Forgot Password?</a>
    </small>
    </h7>
    {{/if}}

    <a href="#" data-dismiss class="btn--small btn--dark-tertiary display-inline-block">Back</a>

    {{#unless hasErrors.get}}

      <button class="btn push-left" type="submit">Enter</button>

    {{else}}

      <button class="btn--disabled push-left" type="submit">Enter</button>

    {{/unless}}

  </form>

  {{!--

  {{#if Template.contentBlock}}
    {{> Template.contentBlock}}
  {{/if}}

  --}}

</template>
