<template name="Apollos.menu">

  <div id="the-menu" class="floating__item soft-double text-left">
    {{> Template.dynamic template=contextMenuTemplate}}

    {{#if signedIn}}
      {{> Apollos.menu.item text="My Profile" href="/profile/edit" iconTemplate="accountCircle"}}
    {{else}}
      {{> Apollos.menu.item
        text="Sign In"
        iconTemplate="accountCircle"
        modal="Apollos.profile.onBoard"}}
    {{/if}}

    <div class="float-on-bottom one-whole text-center soft-sides">
      <a href="https://newspring.cc/" class="text-half-dark no-underline">
        <h5>
          <span class="icon--inline fa fa-angle-left" style="font-size:34px;"></span>
          Back to NewSpring home
        </h5>
      </a>
    </div>
  </div>

</template>
