<template name="Apollos.storyAd">
  <section class="single-fund hard-sides soft-half-ends">
    <div
      class="ratio--landscape one-whole background--cover rounded-top"
      style="background-image: url('{{imageUrl}}');">
    </div>
    <div class="soft-half text-center outlined--light-half">
      <h4>{{title}}</h4>
      <p class="standout">
        {{description}}
      </p>
      <a href="{{url}}" class="btn--small btn--dark-tertiary">
        Keep Reading
      </a>
    </div>
  </section>
</template>
