.load-item {
  background: #dddddd;
}

.fake-text,
.fake-text-small {
  /* force hardware acceleration */
  -webkit-transform: translate3d(0, 0, 0);

  background: linear-gradient(270deg, #dddddd, #bcbcbc, #dddddd);
  -webkit-animation: ColorAnimation 5s cubic-bezier(0.66, 0.21, 0.49, 0.88) infinite;
  animation: ColorAnimation 5s cubic-bezier(0.66, 0.21, 0.49, 0.88) infinite;
  -ms-animation: ColorAnimation 5s cubic-bezier(0.66, 0.21, 0.49, 0.88) infinite;
  background-size: 200%;

}

@keyframes ColorAnimation {
    0%{background-position:100%}

    100%{background-position:-100%}
}

@-webkit-keyframes ColorAnimation {
    0%{background-position:100%}

    100%{background-position:-100%}
}

@-ms-keyframes ColorAnimation {
    0%{background-position:100%}

    100%{background-position:-100%}
}

.fake-text {
  height: 15px;
}

.fake-text-small {
  height: 8px;
}
.fake-text, .fake-text-small{
  border-radius: 2px;
}

:global(.imageloader > :first-child) {
  opacity: 0.5;
}

:global(.imageloader.loaded > :first-child) {
  /* force hardware acceleration */
  -webkit-transform: translate3d(0, 0, 0);

  opacity: 1;
  transition: opacity .5s ease-in-out;
 -moz-transition: opacity .5s ease-in-out;
 -webkit-transition: opacity .5s ease-in-out;
}
