:local(.loader) {
    -webkit-animation-duration: .85s;
    -ms-animation-duration: .85s;
    animation-duration: .85s;
    -webkit-animation-iteration-count: infinite;
    -ms-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: rotate-forever;
    -ms-animation-name: rotate-forever;
    animation-name: rotate-forever;
    -webkit-animation-timing-function: linear;
    -ms-animation-timing-function: linear;
    animation-timing-function: linear;

    border-radius: 50%;
    display: inline-block;
    border-color: #6BAC43 transparent #6BAC43 #6BAC43;

    width: 60px;
    height: 60px;
    border-width: 5px;
    border-style: solid;
}

@-webkit-keyframes rotate-forever {
    0% {
        transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -webkit-transform: rotate(0deg)
    }
    100% {
        transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -webkit-transform: rotate(360deg)
    }
}
@keyframes rotate-forever {
    0% {
        transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -webkit-transform: rotate(0deg)
    }
    100% {
        transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -webkit-transform: rotate(360deg)
    }
}
