$list: "handheld", "portable", "anchored";
@each $alias in $list {
  //Map to all known breakpoints
  @include media-query(#{$alias}) {
    .media-query:before {
      display: none !important;

      content: "#{$alias}";
    }
  }
}

@media screen and (min-height: 566px) {
  .media-query-height {
    display: none !important;

    content: "tall";
  }
}

@media screen and (max-height: 565px) {
  .media-query-height {
    display: none !important;

    content: "short";
  }
}
