
// nav styles
.newspring--icon {
  @include newspring--icon((size: ($base-icon-size - 10px)));

  margin: 0 auto;
}

html {
  overflow-y: hidden;
}

.global-nav-offset {
  @include fixed(top 0 bottom 56px right 0 left 0);
  @include media-query(lap-and-up) {
    @include absolute(left 56px bottom 0);
  }
  @include media-query(handheld) {
    position: relative;

    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }
}


.global-watermark {
  @include media-query(handheld) {
    position: relative;

    width: 100%;

    text-align: center;

    background: map-get($colors, primary);
  }
  @include media-query(lap-and-up) {
    @include rotate(270deg);

    position: fixed;
    z-index: 10;
    top: auto;
    right: $base-spacing-unit;
    bottom: $base-spacing-unit;

    display: block;
    overflow: visible;

    width: 0;

    transform-origin: left bottom 0;

    text-shadow: 0 0 10px map-get($colors, dark-tertiary);

    font-weight: 900;
  }
}

.watermark {
  letter-spacing: 1.7px;

  font-size: 24px;
  font-weight: 800;
}


.global-nav {
  @include fixed(bottom 0 left 0 right 0);
  @include media-query(lap-and-up) {
    top: 0;
    right: auto;

    width: auto;
  }

  z-index: 9999;
}
