.panel-modal {
  overflow: hidden;

  .side-panel {
    position: fixed;
    top: 0;
    z-index: 2;

    width: 375px;
    height: 100%;
    padding-top: 160px;

    background: #fff;

    @media (max-width: 767px) {
      width: 100%;
    }

    @media (max-height: 666px) {
      padding-top: 40px;
    }

    header {
      height: 75px;
    }

    .state-image,
    h4 {
      display: inline-block;

      vertical-align: middle;
    }

    h4 {
      max-width: 250px;

      @media (max-width: 349px) {
        max-width: 220px;
      }

      &.error {
        color: #c64f55;
      }

      &.success {
        color: #6bac43;
      }
    }
  }
}
