.panel-modal {

  .side-panel {
    position: fixed;
    z-index: 2;
    top: 0;

    overflow: hidden;

    width: 375px;
    height: 100%;

    @media (max-width: 767px) {
      width: 100%;

      .floating__item {
        height: 100%;
        overflow-y: scroll;
        padding-bottom: 56px;
      }
    }

    header {
      height: 75px;
    }

    .state-image,
    .state-message {
      display: inline-block;

      vertical-align: middle;
    }

    .state-message {
      max-width: 250px;

      @media (max-width: 349px) {
        max-width: 220px;
      }

      &.error {
        color: #c64f55;
      }

      &.success {
        color: #6bac43;
      }
    }
  }
}
