@font-face{
	font-family:'memphis-black';
	src:url('//d3n6tjerleuu41.cloudfront.net/fonts/memphis/black.eot');
	src:url('//d3n6tjerleuu41.cloudfront.net/fonts/memphis/black.eot?#iefix') format('embedded-opentype'),
		url('//d3n6tjerleuu41.cloudfront.net/fonts/memphis/black.woff') format('woff');
}