@font-face{
	font-family:'memphis-light';
	src:url('//d3n6tjerleuu41.cloudfront.net/fonts/memphis/light.eot');
	src:url('//d3n6tjerleuu41.cloudfront.net/fonts/memphis/light.eot?#iefix') format('embedded-opentype'),
		url('//d3n6tjerleuu41.cloudfront.net/fonts/memphis/light.woff') format('woff');
}