
:local(.nav-bar) {
  z-index: 100;
}

:local(.nav-bar button) {
  flex-grow:1;
}

:local(.nav-bar button) {
  flex-grow:1;
  position: relative;
}

:local(.nav-bar i) {
  font-size: 1.4em;
  position: relative;
}


@media screen and (min-width: 769px) {
  :local(.nav-bar) {
    position: fixed;
    max-width: 80px;
    top: 0;

  }
  /* remove floating method used for mobile */
  :local(.nav-bar:before) {
    content: none;
  }

  :local(.nav-bar button) {
    display: block;
    margin: 0 auto;
  }
}

@media screen and (max-width: 768px) {
  :local(.nav-bar) {
    position: fixed;
    max-height: 60px;
    display: flex;
    justify-content: center;
    width: 100%;
  }

  :local(.locked) {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

}
