

$use-cards: true !default;

@if $use-cards == true {
  //
  // @name %card
  // @description base selector for cards to set margin, padding, and remove borders
  //
  // @extend true
  //
  %card {
    position: relative;

    margin-bottom: $half-spacing-unit;

    border-width: 0;
  }

  // @name card
  // @class .card
  // @description card class to set size from default variable
  //
  // @block .card
  // @modifier .card--filled
  //
  // @extends %card
  //
  // @object true
  //
  // @markup
  // <div class="card">
  //   <h1>
  //   Title
  //   </h1>
  //   <p>
  //   Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Maecenas faucibus mollis interdum. Vestibulum id ligula porta felis euismod semper. Donec id elit non mi porta gravida at eget metus.
  //   </p>
  //   <a href="#" class="icon--filled round fa fa-close"></a>
  // </div>
  //
  .card {
    @extend %card;

    .card__image {
      margin: 0;
      padding: 0;
    }

    // nested in .card to handle using helpers like outlined
    .card__item {
      border-top: none;
    }
  }
}
