/* ----------------------------------------------------------------------------
	FONT: StandardCT Condensed Regular
---------------------------------------------------------------------------- */
@font-face{
	font-family:'StandardCTCondensed-Regular';
	src:url('//d3n6tjerleuu41.cloudfront.net/fonts/standard/condensed-regular.eot');
	src:url('//d3n6tjerleuu41.cloudfront.net/fonts/standard/condensed-regular.eot?#iefix') format('embedded-opentype'),
		url('//d3n6tjerleuu41.cloudfront.net/fonts/standard/condensed-regular.svg#StandardCTCondensed-Regular') format('svg'),
		url('//d3n6tjerleuu41.cloudfront.net/fonts/standard/condensed-regular.woff') format('woff'),
		url('//d3n6tjerleuu41.cloudfront.net/fonts/standard/condensed-regular.ttf') format('truetype');
	font-weight: normal;
}