/* ----------------------------------------------------------------------------
	FONT: StandardCT Extended Bold
---------------------------------------------------------------------------- */
@font-face{
	font-family:'StandardCTExtended-Bold';
	src:url('//d3n6tjerleuu41.cloudfront.net/fonts/standard/extended-bold.eot');
	src:url('//d3n6tjerleuu41.cloudfront.net/fonts/standard/extended-bold.eot?#iefix') format('embedded-opentype'),
		url('//d3n6tjerleuu41.cloudfront.net/fonts/standard/extended-bold.svg#StandardCTExtended-Bold') format('svg'),
		url('//d3n6tjerleuu41.cloudfront.net/fonts/standard/extended-bold.woff') format('woff'),
		url('//d3n6tjerleuu41.cloudfront.net/fonts/standard/extended-bold.ttf') format('truetype');
}