/* ----------------------------------------------------------------------------
	FONT: StandardCT Extended Medium
---------------------------------------------------------------------------- */
@font-face{
	font-family:'StandardCTExtended-Medium';
	src:url('//d3n6tjerleuu41.cloudfront.net/fonts/standard/extended-medium.eot');
	src:url('//d3n6tjerleuu41.cloudfront.net/fonts/standard/extended-medium.eot?#iefix') format('embedded-opentype'),
		url('//d3n6tjerleuu41.cloudfront.net/fonts/standard/extended-medium.svg#StandardCTExtended-Medium') format('svg'),
		url('//d3n6tjerleuu41.cloudfront.net/fonts/standard/extended-medium.woff') format('woff'),
		url('//d3n6tjerleuu41.cloudfront.net/fonts/standard/extended-medium.ttf') format('truetype');
}