/* ----------------------------------------------------------------------------
	FONT: StandardCT Extended Regular
---------------------------------------------------------------------------- */
@font-face{
	font-family:'StandardCTExtended-Regular';
	src:url('//d3n6tjerleuu41.cloudfront.net/fonts/standard/extended-regular.eot');
	src:url('//d3n6tjerleuu41.cloudfront.net/fonts/standard/extended-regular.eot?#iefix') format('embedded-opentype'),
		url('//d3n6tjerleuu41.cloudfront.net/fonts/standard/extended-regular.svg#StandardCTExtended-Regular') format('svg'),
		url('//d3n6tjerleuu41.cloudfront.net/fonts/standard/extended-regular.woff') format('woff'),
		url('//d3n6tjerleuu41.cloudfront.net/fonts/standard/extended-regular.ttf') format('truetype');
	font-weight: normal;
}