/* ----------------------------------------------------------------------------
	FONT: Colfax Web Light
---------------------------------------------------------------------------- */
@font-face{
	font-family:'colfax-web';
	src:url('//d3n6tjerleuu41.cloudfront.net/fonts/colfax/light.eot');
	src:url('//d3n6tjerleuu41.cloudfront.net/fonts/colfax/light.eot?#iefix') format('embedded-opentype'),
		url('//d3n6tjerleuu41.cloudfront.net/fonts/colfax/light.woff') format('woff');
	font-style:normal;
	font-weight:300;
}
/* ----------------------------------------------------------------------------
	FONT: Colfax Web Regular
---------------------------------------------------------------------------- */
@font-face{
	font-family:'colfax-web';
	src:url('//d3n6tjerleuu41.cloudfront.net/fonts/colfax/regular.eot');
	src:url('//d3n6tjerleuu41.cloudfront.net/fonts/colfax/regular.eot?#iefix') format('embedded-opentype'),
		url('//d3n6tjerleuu41.cloudfront.net/fonts/colfax/regular.woff') format('woff');
	font-style:normal;
	font-weight:400;
}
/* ----------------------------------------------------------------------------
	FONT: Colfax Web Medium
---------------------------------------------------------------------------- */
@font-face{
	font-family:'colfax-web';
	src:url('//d3n6tjerleuu41.cloudfront.net/fonts/colfax/medium.eot');
	src:url('//d3n6tjerleuu41.cloudfront.net/fonts/colfax/medium.eot?#iefix') format('embedded-opentype'),
		url('//d3n6tjerleuu41.cloudfront.net/fonts/colfax/medium.woff') format('woff');
	font-style:normal;
	font-weight:500;
}
/* ----------------------------------------------------------------------------
	FONT: Colfax Web Bold
---------------------------------------------------------------------------- */
@font-face{
	font-family:'colfax-web';
	src:url('//d3n6tjerleuu41.cloudfront.net/fonts/colfax/bold.eot');
	src:url('//d3n6tjerleuu41.cloudfront.net/fonts/colfax/bold.eot?#iefix') format('embedded-opentype'),
		url('//d3n6tjerleuu41.cloudfront.net/fonts/colfax/bold.woff') format('woff');
	font-style:normal;
	font-weight:700;
}
/* ----------------------------------------------------------------------------
	FONT: Colfax Web Black
---------------------------------------------------------------------------- */
@font-face{
	font-family:'colfax-web';
	src:url('//d3n6tjerleuu41.cloudfront.net/fonts/colfax/black.eot');
	src:url('//d3n6tjerleuu41.cloudfront.net/fonts/colfax/black.eot?#iefix') format('embedded-opentype'),
		url('//d3n6tjerleuu41.cloudfront.net/fonts/colfax/black.woff') format('woff');
	font-style:normal;
	font-weight:900;
}
