html, body, #react-app {
  background: #ffffff;
}

/* hide web view scroll bars */
::-webkit-scrollbar,
::-webkit-scrollbar-track,
::-webkit-scrollbar-track-piece,
::-webkit-scrollbar-thumb {
  display: none;
}

/* prevent long text selection */
* {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input {
  -webkit-user-select: auto !important;
  -khtml-user-select: auto !important;
  -moz-user-select: auto !important;
  -ms-user-select: auto !important;
  user-select: auto !important;
}

body { -webkit-touch-callout: none !important; }
a { -webkit-user-select: none !important; }

p > img {
  width: 100% !important;
  margin: $base-spacing-unit 0;
}

ul {
  padding-left: 20px;
  list-style: disc outside;
}

ol {
  padding-left: 40px;
}

blockquote {
  font-size: 1.4em;
  text-align: center;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  margin: 40px 0 40px;
  padding: 30px 20px 15px 20px;

}

blockquote p {
  font-style: italic;
  color: #505050;
  letter-spacing: -1px;
  font-weight: 100;
}

// XXX move to junction / update in junction

%_panel {
  @include media-query(palm-wide-and-up) {
    @include absolute(top 0 bottom 0 right 0 left 0);

    z-index: 0;
  }

  -webkit-overflow-scrolling: touch;
}

%_panel__item {
  // don't split on mobile
  @include media-query(palm-wide-and-up) {
    @include absolute(top 0 bottom 0);

    height: 100%;
  }
}

.panel {
  @extend %_panel;
}

.panel__item {
  @extend %_panel__item;
}

.panel__item--left {
  @extend %_panel__item;

  left: 0;
}

.panel__item--right {
  @extend %_panel__item;

  right: 0;
}


.plain {
  text-decoration: none;
}
