@import "fonts";

@import "./junction/_mixins";
@import "./vars";
// import full library
@import "./junction/framework";

// hacks
@import "./hacks";

@import "./helpers/type";
@import "./helpers/scripture";

@import "./complex-objects/checkbox";
@import "./complex-objects/toggle";
@import "./complex-objects/toggle-switch";

@import "./vendor/refresh";
@import "./vendor/slick";
@import "./vendor/swipe";
@import "./vendor/video";

// html, body, #react-app {
//   background: #303030;
// }

.dollar--icon {
  position: relative;
  &:before {
    position: absolute;
    content: "$";
    left: 0.18em;
    font-family: "colfax-web";
    font-size: 1.8em;
    line-height: 1.25;
    font-weight: 700;
  }
}

.card {
  background-color: #fff;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.075);
  border-radius: 6px;
  overflow: hidden;
  z-index: 1;
}

.overlay--solid-medium {
  @extend %_overlay;
  &:after {
    background: rgba($dark-color, 0.4);
  }
}

html.modal--opened {
  overflow: hidden;
  height: 100%;
}

blockquote {
  font-size: 1.4em;
  text-align: center;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  margin: 40px 0 40px;
  padding: 30px 20px 15px 20px;
}

blockquote p {
  font-style: italic;
  color: #505050;
  letter-spacing: -1px;
  font-weight: 100;
}

@include namespace(grid--rev) {
  margin-left: -$base-spacing-unit;
  list-style: none;
  margin-bottom: 0;
  direction: rtl;
  text-align: right;

  & > .grid__item {
    direction: ltr;
    text-align: left;
  }
}

.tag {
  @extend h6;
  position: relative;
  background-color: map-get($colors, light-tertiary);
  // text-transform: lowercase;
  display: inline-block;
  padding: $base-spacing-unit/4 $base-spacing-unit/2;
  border-radius: 6px;
  font-weight: 700;
  color: map-get($colors, dark-primary);
}

.tag--clickable {
  @extend .tag;
  cursor: pointer;
  @include media-query (lap-and-up) {
    &:hover {
      color: map-get($colors, light-primary);
      background-color: $brand-color;
    }
  }
}

.tag--active {
  @extend .tag;
  cursor: pointer;
  color: map-get($colors, light-primary);
  background-color: $brand-color;
}

.tag--disabled {
  @extend .tag;
  color: map-get($colors, dark-tertiary);
  background-color: map-get($colors, light-secondary);
  &:hover {
    color: map-get($colors, dark-tertiary);
    background-color: map-get($colors, light-secondary);
  }
}

.tag--nohover {
  &--active {
    color: map-get($colors, light-primary);
    background-color: $brand-color;
    padding-right: 30px;
  }

  &:hover {
    background-color: map-get($colors, light-tertiary);
    color: map-get($colors, dark-primary);
  }
}

.tag--active.tag--clickable {
  padding-right: 30px;
}

.tag [class^="icon-"]:before,
.tag [class*=" icon-"]:before {
  top: 1px;
  font-weight: 900 !important;
}

@media screen and (max-width: 768px) {
  body {
    font-size: 100%;
  }
  h1 {
    font-size: 2.6em;
  }
  h2 {
    font-size: 2.1em;
  }
  .btn--dark-tertiary:hover {
    background-color: transparent;
    color: #505050;
  }
}

.btn--small\@next,
.btn--small\@next:disabled {
  @extend %btn;
  @extend h7;

  //5 10 3.5
  padding: ($button-height * 0.1) ($button-height * 0.3) ($button-height * 0.1) - 1.5;
  border: 1px solid;
}

input[type="checkbox"] + label:before {
  border: 2px solid #858585;
}

input[type="checkbox"]:checked + label:before {
  border: 2px solid #6bac43;
}

@include namespace(display-inline-block) {
  display: inline-block;
}

.icon-like-solid {
  animation-duration: 0.3s;
  animation-name: fadeAndScale;
  animation-timing-function: cubic-bezier(0.71, 0.55, 0.62, 1.57);
}

@keyframes fadeAndScale {
  0% {
    transform: scale(0.9, 0.9);
  }
  50% {
    transform: scale(1.2, 1.2);
  }
  100% {
    transform: scale(1, 1);
  }
}
