/*
 * Emigre web font kit 527141651e2e2
 * 
 * These fonts are not shareware. 
 * Use of these fonts requires the purchase 
 * of a license from Emigre, www.emigre.com  
 * Please contact sales@emigre.com
 *
 * To purchase a license to use this font go to:
 * http://www.emigre.com/fontpage.php?PBroR.html
 *
 * © 2012 Emigre, Inc
 */

@font-face {
    font-family: 'BrothersRegular';
    src: url('//d2cv5sdpfu57sc.cloudfront.net/fonts/brothers/regular.eot');
    src: url('//d2cv5sdpfu57sc.cloudfront.net/fonts/brothers/regular.eot?#iefix') format('embedded-opentype'),
         url('//d2cv5sdpfu57sc.cloudfront.net/fonts/brothers/regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}