@font-face {
    font-family: 'faraco_hand';
    src: url('//d3n6tjerleuu41.cloudfront.net/fonts/faraco-hand/faraco_hand-webfont.eot');
    src: url('//d3n6tjerleuu41.cloudfront.net/fonts/faraco-hand/faraco_hand-webfont.eot?#iefix') format('embedded-opentype'),
         url('//d3n6tjerleuu41.cloudfront.net/fonts/faraco-hand/faraco_hand-webfont.woff') format('woff'),
         url('//d3n6tjerleuu41.cloudfront.net/fonts/faraco-hand/faraco_hand-webfont.ttf') format('truetype'),
         url('//d3n6tjerleuu41.cloudfront.net/fonts/faraco-hand/faraco_hand-webfont.svg#faraco_handregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
