/* ----------------------------------------------------------------------------
	FONT: Pictos
---------------------------------------------------------------------------- */
@font-face {
    font-family: 'PlayerIcons';
    src: url('//d3n6tjerleuu41.cloudfront.net/fonts/player-icons/player-icons.eot');
    src: url('//d3n6tjerleuu41.cloudfront.net/fonts/player-icons/player-icons.eot?#iefix') format('embedded-opentype'),
         url('//d3n6tjerleuu41.cloudfront.net/fonts/player-icons/player-icons.svg#PlayerIcons') format('svg'),
         url('//d3n6tjerleuu41.cloudfront.net/fonts/player-icons/player-icons.woff') format('woff'),
         url('//d3n6tjerleuu41.cloudfront.net/fonts/player-icons/player-icons.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}