
$use-number: true!default;

// @if $use-number == true {
  //
  // @name number
  // @description convert string to a number. Useful to typecast from
  // string based sass arrays/maps
  //
  // @function true
  //
  // @parameter $string - string to be typecast (should be a number)
  //
  // @scss
  //   $number = "10"
  //   .foo {
  //     font-size: number($number)px;
  //   }
  //
  @function number($string) {
    // Matrices
    $strings: "0" "1" "2" "3" "4" "5" "6" "7" "8" "9";
    $numbers: 0   1   2   3   4   5   6   7   8   9;
    // Result
    $result: 0;

    // Looping through all characters
    @for $i from 1 through str-length($string) {
      $character: str-slice($string, $i, $i);
      $index: index($strings, $character);
      $number: nth($numbers, $index);
      $result: $result * 10 + $number;

      @if $index {
        // Do nothing
      } @else {
        @warn "Unknown character `#{$character}`.";

        @return false;
      }
    }

    @return $result;
  }
// }
