
<template name="testLayout">
  {{> Template.dynamic template=main}}
</template>

<template name="home">

  <div class="panel">

    <section class="handheld-flush panel__item--left lap-and-up-five-twelfths background--fill floating handheld-visuallyhidden overlay--solid-light" style="background-image: url(https://dg0ddngxdz549.cloudfront.net/images/cached/images/remote/http_s3.amazonaws.com/ns.images/newspring/collection/series_newspring/sex.hero.1x1_1700_1700_90_c1.jpg);">
    </section>


    <section class="handheld-hard panel__item--right lap-and-up-seven-twelfths floating scrollable handheld-push-double-top">

        <div class="floating__item">

          {{#unless currentUser}}

            {{> Apollos.profile.onBoard}}

          {{else}}
            <div class="push">
              <h3>Signed in!</h3>
              <a href="#" id="logout" class="btn--filled">Sign out</a>
            </div>
          {{/unless}}


        </div>

    </section>

</div>

</template>
