.checkbox {
  width: 20px;
  height: 20px;
  vertical-align: middle;
  border-width: 2px;
  border-radius: 3px;
  cursor: pointer;
  color: #6bac43;
  position: relative;
}

.checkbox-checked:before {
  content: "\00a0";
  background-color: #6bac43;
  border: 1px solid #6bac43;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.checkbox-checked:after {
  content: "\00a0";
  display: inline-block;
  width: 6px;
  height: 12px;
  // vertical-align: middle;
  // background-color: #6bac43;
  border: solid #ffffff;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  position: relative;
  left: 5px;
}