/* ----------------------------------------------------------------------------
	FONT: Lubalin Book
---------------------------------------------------------------------------- */

@font-face {
	font-family: 'Lubalin-Book';
	src: url('//d3n6tjerleuu41.cloudfront.net/fonts/lubalin/lubalin-book.eot');
	src: url('//d3n6tjerleuu41.cloudfront.net/fonts/lubalin/lubalin-book.eot?#iefix') format('embedded-opentype'),
		url('//d3n6tjerleuu41.cloudfront.net/fonts/lubalin/lubalin-book.woff') format('woff'),
		url('//d3n6tjerleuu41.cloudfront.net/fonts/lubalin/lubalin-book.ttf') format('truetype');
}

