
@media (min-width: 769px) {
  :local(.global-watermark) {
    -webkit-transform: rotate(270deg);
        -ms-transform: rotate(270deg);
         -o-transform: rotate(270deg);
            transform: rotate(270deg);

    position: fixed;
    z-index: 10;
    top: auto;
    right: 20px;
    bottom: 20px;

    display: block;
    overflow: visible;

    width: 0;

    transform-origin: left bottom 0;

    text-shadow: 0 0 10px #858585;

    font-weight: 900;
  }
}

:local(.watermark) {
  letter-spacing: 1.7px;

  font-size: 24px;
  font-weight: 800;
}
