<template name="checkbox">

  <div class="input {{#if error.get}}input--alert{{/if}} {{#if status.get}}push-double-bottom{{/if}}">

    <input
      id="{{name}}"
      name="{{name}}"
      type="checkbox"
      checked={{checked}}
    >

    <label for="{{name}}">
    </label>

    {{#if this}}

    <h7 class="soft-left">
      <small>
        {{! we will need to make this more powerful}}
        {{> Template.contentBlock}}
      </small>
    </h7>

    {{/if}}



    {{#if status.get}}

      <span class="input__status">
        {{status.get}}
      </span>

    {{/if}}

  </div>


</template>
