<template name="Apollos.Forms.Select">

  <div class="input fa fa-caret-down one-whole {{#if error.get}}input--alert{{/if}} {{#if value.get}}input--active{{/if}} {{component.data.class}}">

    <select name="{{name}}" class="{{component.data.selectClass}}">
      {{#if includeBlank}}
        {{#if preFill}}
          <option class="{{component.data.optionClass}}" value="" disabled>{{placeholder}}</option>
        {{else}}
          <option class="{{component.data.optionClass}}" value="" disabled selected>{{placeholder}}</option>
        {{/if}}
      {{/if}}
      {{#each items}}
        {{#if selected val}}
          <option class="{{component.data.optionClass}}" value="{{val}}" selected>{{name}}</option>
        {{else}}
          <option class="{{component.data.optionClass}}" value="{{val}}">{{name}}</option>
        {{/if}}
      {{/each}}
    </select>

    {{#unless component.data.hideLabel}}
    <label for="{{name}}">
      {{#if label}}
        {{label}}
      {{else}}
        {{name}}
      {{/if}}
    </label>
    {{/unless}}

    {{#if status.get}}

      <span class="input__status">
        {{status.get}}
      </span>

    {{/if}}

  </div>

</template>
