/* wkwebview's default html background is black? */
html, body, #react-app {
  // background: #fff;
  background: #ffffff;
}

/* hide web view scroll bars */
::-webkit-scrollbar,
::-webkit-scrollbar-track,
::-webkit-scrollbar-track-piece,
::-webkit-scrollbar-thumb {
  display: none;
}

/* prevent long text selection */
* {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input {
  -webkit-user-select: auto !important;
  -khtml-user-select: auto !important;
  -moz-user-select: auto !important;
  -ms-user-select: auto !important;
  user-select: auto !important;
}

body { -webkit-touch-callout: none !important; }
a { -webkit-user-select: none !important; }

p > img {
  width: 100% !important;
  margin: $base-spacing-unit 0;
}

.push-triple-bottom {
  margin-bottom: 60px;
}

.song-cell {
  display: flex;
}

.song-cell p {
  flex-grow: 1;
}

.cell-wrapper div:last-of-type {
  border: none;
}
