/* wkwebview's default html background is black? */
html, body, #react-app {
  // background: #fff;
  background: #303030;
}

/* hide web view scroll bars */
::-webkit-scrollbar,
::-webkit-scrollbar-track,
::-webkit-scrollbar-track-piece,
::-webkit-scrollbar-thumb {
  display: none;
}

/* prevent long text selection */
* {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input {
  -webkit-user-select: auto !important;
  -khtml-user-select: auto !important;
  -moz-user-select: auto !important;
  -ms-user-select: auto !important;
  user-select: auto !important;
}

body { -webkit-touch-callout: none !important; }
a { -webkit-user-select: none !important; }

p > img {
  width: 100% !important;
  margin: $base-spacing-unit 0;
}

ul {
  padding-left: 20px;
  list-style: disc outside;
}

ol {
  padding-left: 40px;
}

blockquote {
  font-size: 1.4em;
  text-align: center;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  margin: 40px 0 40px;
  padding: 30px 20px 15px 20px;

}

blockquote p {
  font-style: italic;
  color: #505050;
  letter-spacing: -1px;
  font-weight: 100;
}
