<template name="Apollos.Controls.NumberKeyboard">

  <section class="
    keyboard
    background--light-secondary
    hard
    flush

    outlined--top
    outlined--light

  ">
    <div class="one-whole text-center display-inline-block soft-half" data-close="">
      <div class="icon-down icon--small background--fill display-inline-block" data-close="">
      </div>
    </div>
    <div class="section--condensed
    {{#if MediaQueryHeight 'tall'}}
      soft-half hard-bottom
    {{else}}
      hard-ends soft-half-side
    {{/if}}">
      <div class="grid text-center">

        {{#each keys}}

        <div class="grid__item one-third soft-half-top" data-key="{{value}}">

          <div class="{{css}} {{#if MediaQueryHeight 'tall'}}soft-half-bottom{{/if}}">
            <h3 class="flush-bottom {{#unless MediaQueryHeight 'tall'}}text-condensed{{/unless}}">
              {{{display}}}
            </h3>
          </div>

        </div>

        {{/each}}
      </div>
    </div>

  </section>

</template>
