

<template name="Apollos.Controls.Progress">

  <div class="progress-bar text-center">
    <div class="progress">

      {{#each steps}}
        <div class="{{#if $gt count active.get 1}}progress__item{{else}}progress__item--active{{/if}}" style="z-index: {{getLayer count}}">
        </div>

      {{/each}}


    </div>
    <p>
      <small class="italic display-inline-block push-half-top">
        Step {{active.get}} of {{total.get}}
      </small>
    </p>
  </div>

  {{!--

    Things to know

    1. How many total steps? (Reactive?)
    2. What step you are on?

    ----

    3. What step to go to? (click on step to go back (only if active))

    API:

    {{> Apollos.Controls.Progress
      active=ReactiveVar(Number)
      total=ReactiveVar(Number)/Number
    }}

  --}}
</template>
