
<template name="Apollos.Controls.Toggle">

  <div class="toggle push-bottom soft-sides">
    <div data-toggle="item1" class="transition one-half text-center toggle__item {{#if active.get}}toggle__item--active{{/if}}">
      {{item1}}
    </div>
    <div data-toggle="item2" class="transition one-half text-center toggle__item {{#unless active.get}}toggle__item--active{{/unless}}">
      {{item2}}
    </div>

    {{!--

      In order to make our arrow move with animation, we create a ballon element
      that we can inflate when needed to push the arrow over

    --}}
    <div class="grid text-left toggle-arrow soft-sides">

      <div class="transition grid__item hard one-half toggle-arrow__item" style="{{#unless active.get}}margin-left: 50%{{/unless}}">
      </div>

    </div>

  </div>

</template>
