
$list: "handheld", "portable", "anchored";
@each $alias in $list {
  //Map to all known breakpoints
  @include media-query(#{$alias}) {
    .media-query {
      display: none !important;

      content: "#{$alias}";
    }
  }
}
