<template name="Apollos.Forms.Checkbox">

  <div class="input {{#if error.get}}input--alert{{/if}} {{#if status.get}}push-double-bottom{{/if}} {{#if radio}}radio{{else}}checkbox{{/if}}">

    <input
      id="{{#if id}}{{id}}{{else}}{{name}}{{/if}}"
      name="{{name}}"
      type="{{#if radio}}radio{{else}}checkbox{{/if}}"
      checked={{checked}}
      value="{{val}}"
    >

    <label for="{{#if id}}{{id}}{{else}}{{name}}{{/if}}">
    </label>

    {{#if Template.contentBlock}}

    <h7 class="soft-left">
      <small>
        {{! we will need to make this more powerful}}
        {{> Template.contentBlock}}
      </small>
    </h7>

    {{/if}}



    {{#if status.get}}

      <span class="input__status">
        {{status.get}}
      </span>

    {{/if}}

  </div>


</template>
