
label + h7 {
  @include absolute(top 0);

  left: $base-spacing-unit;

  text-align: left;
}

.input--alert {
  h7 + .input__status {
    top: $base-spacing-unit * 2.5;
    left: $base-spacing-unit * 2;
  }
}
