
.input--active {
  label {
    font-family: map-fetch($fonts, colfax, h1, font-family);
  }
}


legend {
  margin: 0 auto;
}

button:focus {
  outline: none;
}

input {
  -webkit-appearance: none;
}
