@charset "UTF-8";

@font-face {
  font-family: "newspring-icofont";
  src:url("/icofont/newspring-icofont.eot");
  src:url("/icofont/newspring-icofont.eot?#iefix") format("embedded-opentype"),
    url("/icofont/newspring-icofont.woff") format("woff"),
    url("/icofont/newspring-icofont.ttf") format("truetype"),
    url("/icofont/newspring-icofont.svg#newspring-icofont") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "newspring-icofont" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "newspring-icofont" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-back:before {
  content: "a";
}
.icon-like:before {
  content: "b";
}
.icon-logo:before {
  content: "c";
}
.icon-arrow-down:before {
  content: "d";
}
.icon-arrow-next:before {
  content: "e";
}
.icon-pause:before {
  content: "\49";
}
.icon-play:before {
  content: "g";
}
.icon-arrow-up:before {
  content: "h";
}
.icon-category-audio:before {
  content: "i";
}
.icon-profile:before {
  content: "j";
}
.icon-repeat:before {
  content: "k";
}
.icon-category-text:before {
  content: "l";
}
.icon-search:before {
  content: "m";
}
.icon-sections:before {
  content: "n";
}
.icon-check-mark:before {
  content: "o";
}
.icon-category-video:before {
  content: "p";
}
.icon-close:before {
  content: "q";
}
.icon-filter:before {
  content: "r";
}
.icon-leaf-outline:before {
  content: "s";
}
.icon-leaf-solid:before {
  content: "t";
}
.icon-leaf-striped:before {
  content: "u";
}
.icon-skip-next:before {
  content: "v";
}
.icon-skip-back:before {
  content: "w";
}
.icon-shuffle:before {
  content: "x";
}
.icon-share:before {
  content: "y";
}
.icon-settings:before {
  content: "z";
}
.icon-repeat-one:before {
  content: "\44";
}
.icon-repeat-all:before {
  content: "\47";
}
.icon-like-solid:before {
  content: "\42";
}
.icon-volume:before {
  content: "\66";
}
.icon-mute:before {
  content: "\48";
}
.icon-fullscreen:before {
  content: "\4a";
}
