// import default vars
@import "/.remote/junction/lib/mixins";

// make changes specific to this app
@import "./vars";

// import full library
@import "/.remote/junction/lib/framework";


// import local overrides below
@import "./custom/type";
@import "./custom/hacks";
@import "./custom/navbar";
@import "./custom/refresh";
@import "./custom/discover";
@import "./custom/profile";
@import "./custom/series";
@import "./custom/video";
@import "./custom/toggle";
@import "./custom/swipe";
@import "./custom/scripture";

.card {
  /* force hardware acceleration on render */
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;

  background-color: #fff;
  border-width: 1px;
  border-color: rgba(0, 0, 0, .1);
  box-shadow: 0 1px 4px rgba(0, 0, 0, .075), 0 0 0 1px rgba(0, 0, 0, 0.04);
  border-radius: 6px;
  overflow: hidden;
}

.overlay--solid-medium {
  @extend %_overlay;
  &:after {
    background: rgba($dark-color, .4);
  }
}
